<div class="container">
    <div class="row">
        <div class="col-md-1">
            <a [routerLink]="['/prato/registrar']"><button type="button" class="btn btn-info">Cadastrar</button></a>
        </div>
        <div class="col-md-5">
            <input class="form-control" #textoPrato (keyup)="0" placeholder="Pesquisar prato" />

        </div>
    </div>

    <br />

    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr class="cedro-top">
                            <th title="Número" class="text-center">Nº </th>
                            <th>Prato</th>
                            <th>Preço</th>
                            <th>Restaurante</th>
                            <th class="text=center" class="text-center">Função</th>
                        </tr>
                        <tr class="cedro-line" *ngFor="let prato of (pratos | filtroPorNomePrato: textoPrato.value)">
                            <td class="text-center">{{prato.Id_Prato}}</td>
                            <td>{{prato.Nome_Prato}}</td>
                            <td>{{prato.Preco_Prato}}</td>
                            <td>{{prato.Nome_Restaurante}}</td>
                            <td class="text-center">
                                <a [routerLink]="['/prato/alterar', prato.Id_Prato]"><button class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
                                <button class="btn btn-danger" (click)="excluir(prato)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>